<!DOCTYPE html>
<html>
<head>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='logo-circle.png') }}">
	<img src="{{ url_for('static', filename='logotext.png') }}" alt="TorrentWave Logo" class="mt-6 center">
    <title>Video Preview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

    <div class="container">
		
        <h1 class="mt-4 center">Video Preview: {{ video_title }}</h1>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="{{ video_url }}" frameborder="0" allowfullscreen></iframe>
        </div>
        <a href="/" class="btn btn-secondary mt-4 center">Back</a>
    </div>
</body>
</html>
